body {
    color: #ffffff;
    font-family: 'Abhaya Libre', serif;
    margin-top: 22vh;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.4rem;
    letter-spacing: .1rem;
}

input, button, input::placeholder {
    color: #ffffff;
    border: none;
    background-color: transparent;
    font-family: 'Abhaya Libre', serif;
    text-align: center;
    font-size: 1.4rem;
}

input, input:focus {
    border-bottom: .01rem solid #ffffff;
    outline: none;
    width: 350px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clock {
    font-size: 2rem;
    opacity: 90%;
}

.title {
    margin: 1.4rem;
    letter-spacing: .5rem;
}

.form, .greeting {
    display: none;
    margin-bottom: 2rem;
    letter-spacing: .3rem;
}

.greeting.showing {
    font-size: 4.2rem;
    margin-top: 1.2rem;
}

.showing {
    display: block;
    margin-top: 4rem;
}

.weather {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    font-size: 1rem;
    letter-spacing: .2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 50;
    }
}

.background {
    position: absolute;
    background-color: #142850;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: fadeIn 1s linear;
}